<!--{% load staticfiles %}-->
<html>

<head>
    <title>SocialSite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!--  <link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
</head>

<body>
    <div class="page-header">
        <center><h1><a href="">LOGIN/SIGNUP</a></h1><center>
    </div>
   <CENTER>URL:myapp/connect</CENTER> 
    {% block content %} {% endblock %}
</body>

</html>
