 {% extends "myapp/base.html" %} {% block content %}
<form action="." method="POST"> {% csrf_token %}
    <div class="col-md-12  jumbotron">
        <center>
            Username:
            <input type="text" placeholder="UserName" name="usernamer" />
        </center>
        <br>
        <center>
            Password:
            <input type="password" placeholder="Password" name="password" />
        </center>
    </div>
   <center> <button type="button" class="btn btn-primary"  type="submit" value="Login"><a class="writebtn" href="{% url 'login' %}?next={{ request.path }}">Login</a></button></center>
</form>
{% endblock %}
<!--<html>
{% url " myapp.views.login " %}
<body>
    <form name="form" action="." method="POST">{% csrf_token %}
        <div style="max-width:470px;">
            <center>
                <input type="text" style="margin-left:20%;" placeholder="Identifiant" name="username" />
            </center>
        </div>
        <br>
        <div style="max-width:470px;">
            <center>
                <input type="password" style="margin-left:20%;" placeholder="password" name="password" />
            </center>
        </div>
        <br>
        <div style="max-width:470px;">
            <center>
                <button style="border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type="submit" value="Login">
                    <strong>Login</strong>
                </button>
            </center>
        </div>
    </form>
</body>

</html>-->
