{% extends "myapp/base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                {% if registered %}
                <h2>THANK YOU FOR REGISTERING</h2> {% else %}
                <h2>Please Register Here!!</h2>
                <form method='POST' enctype="multipart/form-data">
                    {% csrf_token %} {{user_form.as_p}} {{profile_form.as_p}}
                    <input type="submit" value="Register">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

