{% extends "myapp/base.html" %}
<{% block content %} <div class="container" style="text-align:center">
    <h1>Here Is The User List In Database</h1>
    <li>User Info</li> {% if user_list %} {% for user in user_list %}
    <ul>
        <div class="row">
            <div class="col-md-4">
                <li>First Name:{{user.firstname}}</li>
            </div>
            <div class="col-md-4">
                <li>Last Name:{{user.lastname}}</li>
            </div>
            <div class="col-md-4">
                <li> Email Address:{{user.email}}</li>
            </div>
        </div>
    </ul>
    {% endfor %} {% endif %}
    </div>
    {% endblock content %}
